@import url("http://fonts.cdnfonts.com/css/cabe-rawit");
@font-face {
  font-family: 'Cabe Rawit';
  font-style: normal;
  font-weight: 400;
  src: local('Cabe Rawit'), url('https://fonts.cdnfonts.com/s/76043/CabeRawit-Regular.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-block: 0;
  margin-inline: 0;
}

.container {
  width: 100vw;
}

/* header */
header {
  font-family: "Cabe Rawit", sans-serif;
  color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgb(0, 0, 0);
}

header i {
  font-size: 2rem;
}

.nav-mobile {
  display: none;
}

.nav-desktop {
  display: flex;
}

.nav-icon {
  font-size: 1.5rem;
  border-left: 1px solid wheat;
  padding: 0.75rem;
}
.nav-text {
  font-size: 2rem;
  padding: 0.75rem;
  border-left: 1px solid wheat;
  border-right: 1px solid wheat;
}
.nav-button {
  width: auto;
  background-color: gray;
  padding: 0 0.75rem;
}
.title {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 2.5rem;
}

.title img {
  width: 2rem;
  margin-right: 0.5rem;
}

.sign-desktop {
  font-size: 2rem;
  padding: 0.75rem;
  border-left: 1px solid wheat;
}
.sign-mobile {
  display: none;
}

/* banner */
.banner {
  width: 100%;
  color: white;
  font-family: "Cabe Rawit", sans-serif;
  background-color: rgb(0, 0, 0);
  position: relative;
}

figure {
  position: relative;
  margin-block: 0;
  margin-inline: 0;
  width: 100%;
}

.banner figure img {
  width: 100%;
  transform: scaleX(-1);
}

.banner figure figcaption {
  text-align: center;
  padding: 0.75rem;
  font-size: 3vh;
}

.banner__text {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  position: absolute;
  top: min(12vh, 120px);
  left: min(10vh, 50px);
}

.banner__text__lowercase {
  color: white;
  font-size: 3vw;
}

.banner__text__uppercase {
  color: white;
  font-size: 16vw;
}

/* Register form */
.register {
  position: absolute;
  width: 80%;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%);
  color: white;
  font-family: "Cabe Rawit", sans-serif;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-content: center;
}

.register h2 {
  display: none;
}

/* .register label {
    display: none;
} */
form {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-group {
  display: flex;
  flex-flow: column wrap;
}
input,
.input-dog input,
.input-email input {
  height: auto;
  width: 80%;
  margin-bottom: 0.5rem;
  border: 0;
  padding: 0.5rem;
  background-color: wheat;
  border-radius: 0.2rem;
  position: relative;
}

input.input-dog{
    margin-top: 12px
}

input.span{
  margin: 0;
  padding: 0;
}

input::placeholder {
  color: gray;
  padding-left: 4rem;
}

.img-dog {
  max-width: 2.5rem;
  padding: 0.2rem;
  position: absolute;
  transform: translate(-76rem);
  filter: invert(63%) sepia(1%) saturate(3576%) hue-rotate(1deg) brightness(80%)
    contrast(51%);
}

#envelope {
  color: gray;
  font-size: 2rem;
  position: absolute;
  transform: translate(1.5rem, -2.75rem);
}

button {
  font-family: "Cabe Rawit", sans-serif;
  font-size: 1.75rem;
  border-radius: 0.2rem;
  color: wheat;
  background-color: rgb(153, 183, 52);
  border: 0;
  /* padding: 0.1rem; */
  width: 15rem;
}

main {
  width: 100vw;
  background-color: white;
  padding: 1.5rem;
  font-family: sans-serif;
  line-height: 1.5rem;
}

.social {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #1da1f2;
}

.social svg {
  filter: invert(35%) sepia(71%) saturate(2370%) hue-rotate(201deg)
    brightness(95%) contrast(101%);
  width: 3rem;
}

.gallery {
  margin-top: 1rem;
  background-color: beige;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.title-gallery {
  margin: 1rem 0;
  font-family: "Cabe Rawit", sans-serif;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.pet-img {
  /* five columns */
  flex: 20%;
  max-width: 15%;
  border-style: double;
  border-width: 6px;
  border-color: rgb(252, 197, 160);
  border-radius: 100%;
}

@media screen and (max-width: 800px) {
  .pet-img {
    flex: 30%;
    max-width: 25%;
  }

  .nav-mobile {
    display: contents;
  }

  .nav-desktop {
    display: none;
  }

  .sign-desktop {
    display: none;
  }

  .sign-mobile {
    display: contents;
    font-size: 2rem;
  }
  label {
    display: none;
  }
  span.input {
    display: none;
  }

  /* Register form */
  .register {
    position: relative;
    width: 100%;
    left: 0;
    transform: none;
    color: white;
    font-family: "Cabe Rawit", sans-serif;
    padding: 0.25rem 1.25rem;
    background-color: rgb(0, 0, 0);
  }

  .register h2 {
    font-size: 4vh;
    text-align: center;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25vw;
  }

  form{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  /* .register label {
      display: none;
  } */
  input,
  input.input-dog,
  input.input-email {
    width: 100%;
    margin-bottom: 0.5rem;
    border: 0;
    padding: 0.5rem;
    background-color: wheat;
    border-radius: 0.2rem;
    font-size: 2.5vh;
    position: relative;
  }

  input.input-dog{
    margin-top: 0
  }

  input::placeholder {
    color: gray;
    padding-left: 4rem;
  }

  .input-group{
    width: 100%;
  }

  .img-dog {
    max-width: 2.5rem;
    padding: 0.2rem;
    position: absolute;
    transform: translate(-12rem, -.3rem);
    filter: invert(63%) sepia(1%) saturate(3576%) hue-rotate(1deg)
      brightness(80%) contrast(51%);
  }

  #envelope {
    color: gray;
    font-size: 2rem;
    position: absolute;
    transform: translate(-12rem, -2.90rem);
  }

  button {
    width: 100%;
    font-family: "Cabe Rawit", sans-serif;
    font-size: 2rem;
    border-radius: 0.2rem;
    color: wheat;
    background-color: rgb(153, 183, 52);
    margin: 0 0 0.5rem 0;
    border: 0;
    padding: 0.3rem;
  }
}

@media screen and (max-width: 500px) {
  .pet-img {
    flex: 50%;
    max-width: 40%;
  }
}
